@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background-color: #342e1e;
  overflow: hidden;
}

#__next {
  min-height: 100vh;
  background-color: #342e1e;
  overflow: hidden;
  position: relative;
}

* {
  box-sizing: border-box;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100vh, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate-slide-in {
  animation: slideIn 0.5s ease-out forwards;
}

.animate-slide-out {
  animation: slideOut 0.5s ease-out forwards;
}

.animate-slide-up {
  animation: slideUp 0.8s ease-out forwards;
  padding: 2rem 1rem;
  background-color: #342e1e;
  margin-bottom: 1rem;
} 